 h1 { font-size: 1.33em; }
 h2 { font-size: 1.17em; }
 p { margin: 0 0 0.5em 0; }
 h1, h2 { margin: 0.83em 0 0.17em 0; }
 p:first-of-type { font: 0.17em/1.33 Verdana, sans-serif; }
 p.first { text-indent: 0em; }
 p + p { text-indent: 5em; }