:root {
    --base-font-color: rgb(131, 148, 150);
    --secondary-font-color: rgb(88, 110, 117);
    --emphasised-font: rgb(147, 161, 161);

    --c-background-color: rgb(0, 43, 54);
    --c-background-highlights: rgb(7, 54, 66);

    --c-yellow: rgb(181, 137, 0);
    --c-orange: rgb(203, 75, 22);
    --c-red: rgb(220, 50, 47);
    --c-magenta: rgb(211, 54, 130);
    --c-violet: rgb(108, 113, 196);
    --c-blue: rgb(38, 139, 210);
    --c-cyan: rgb(42, 161, 152);
    --c-green: rgb(133, 153, 0);
}

body {
    background-color: var(--c-background-color);
    color: var(--base-font-color);
    font-family: 'Open Sans Condensed', sans-serif;
}

header, footer {
    background-color: var(--c-background-highlights);
    color: var(--base-font-color);
    text-align: center;
    padding: 1em;
}

header h1 {
    color: var(--c-yellow);
    font-size: 1.5em;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav a {
    color: var(--base-font-color);
    text-decoration: none;
}

article a {
    color: var(--c-magenta);
}

article a:hover {
    color: var(--c-orange);
}

aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}

/* Task 9 styles */
article h3 {
    border: 3px solid var(--c-cyan);
    padding: 0.5em;
}

article h3 + p {
    border: 3px solid var(--c-cyan);
    padding: 0.5em;
}

header h1 {
    text-align: center;
    font-size: 150%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

aside {
    color: var(--c-green);
}

aside a {
    color: var(--c-red);
}

aside a:hover {
    color: var(--c-blue);
}
